:root {
    --primary-color: rgb(9, 183, 214);
    --secondary-color: Dimgray;
    --terciary-color: Gainsboro;
}

body {
    background-color: white;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;

}

#container {
    height: 525px  ;
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0px 0px 8px 0px rgb(131, 131, 131);
    border-radius: 25px;
}

.title {
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 25px ;
    border-top-right-radius: 25px;
    text-align: center;
}

.tipsForm {
    padding-left: 20px;
    padding-right: 20px;
   
}

.formInput {
    background: white;
    width: 40px;
    padding: 2px 2px 2px 2px;
    font-family: 'Courier New', Courier, monospace;
}

.formInput:focus {
    border: 3px solid var(--primary-color);
}

.formSelect {
    width: 180px;
    padding: 5px;
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.formSubmit {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    margin: auto;
    display: block;
    background: var(--primary-color);
    color: white;
    border-radius: 10px;
    width: 150px;
    height: auto;
}